main{    
    width: 95%;
    margin: 0 auto;
}
button{
	border-radius: 5px;
}
button img{
	width: 32px;
	height: 32px;
}
.hr{
	display: inline-block;
}
.hr button{
	width: 16px;
	height: 16px;
}
#clrR{
	background-color: red;
}
#clrG{
	background-color: green;
}
#clrB{
	background-color: blue;
}
#clrY{
	background-color: yellow;
}
canvas{
	margin-top: 20px;
	background-color: #f5fffa;
	border: 1px solid #00ced1;
	box-shadow: 0px 5px 40px 10px rgba(34, 80, 52, 0.2);
}
